.heroSection {
  background: #000;
  width: 100%;
  min-height: 540px;
  max-height: 692px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 48px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.textBox {
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 5%;
}

.headline {
  font-size: 3rem;
  font-weight: 700;
  object-fit: contain;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  background: linear-gradient(180deg, #3fb3f7, #2178ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: -0.02em;
}

.announce {
  color: #a1a1a6;
  font-size: 1.15rem;
  margin-bottom: 28px;
  font-weight: 400;
}

.actions {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.buttonPrimary {
  background: rgb(255, 255, 255);
  color: #323232;
  border: none;
  border-radius: 980px;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 20px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.15s;
  display: inline-block;
}
.buttonPrimary:hover {
  background: #e1eeff;
  color: #000;
}

.buttonOutline:hover {
  background: #06c;
  color: #fff;
  border-color: #06c;
}

.heroImage {
  //   width: 600px;
  width: 100%;
  max-width: 380px;
  //   max-width: 95vw;
  position: absolute;
  top: 0;
  // bottom: 0;
  // margin: 0;
  // margin: 36px auto 0 auto;
  display: block;
  z-index: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .heroSection {
    min-height: 60vh;
  }
  .headline {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.15rem;
  }
  .announce {
    font-size: 1rem;
  }
  .heroImage {
    // width: ;
    // margin-top: 15vw;
    bottom: 25%;
    top: auto;
  }
}
