.sectionSlider {
  width: 100%;
  // max-width: 2600px;
  background: #fff;
  padding: 10px 0;
  overflow-x: hidden;
  max-height: 260px;
}
.swiper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  border-radius: 0;
  padding-bottom: 38px;
  img {
    object-fit: contain !important;
  }
}
.slide {
  background: #fff;
  border-radius: 0;
  box-shadow: 0 2px 14px rgba(60, 60, 67, 0.08);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 25vh;
}
.swiper-pagination-bullet {
  background: #222 !important;
  opacity: 0.22;
}
.swiper-pagination-bullet-active {
  background: #222 !important;
  opacity: 1;
}
@media (max-width: 900px) {
  .slide {
    height: 150px;
  }
  .swiper {
    border-radius: 0;
  }
}
