.sectionSlider {
  background: #fff;
  width: 100%;
  // max-width: 100%;
  //   padding: 15px 0 10px 0;
  padding: 0;
  // position: relative;
  // left: 50%;
  // right: 50%;
  // margin-left: -50vw;
  // margin-right: -50vw;
}

.swiper {
  //   max-width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}
:global(.swiper-button-prev),
:global(.swiper-button-next) {
  display: none !important;
}
.slide {
  background: #fff;
  border-radius: 0;
  box-shadow: 0 4px 32px rgba(60, 60, 67, 0.1);
  overflow: hidden;
  display: flex;
  align-items: stretch;
  border: 1px solid blue;
  height: auto;
  max-height: 710px;
}
.swiper-slide {
  img {
    object-fit: contain;
  }
}

.swiper-pagination {
  position: static;
  margin-top: 32px;
  text-align: center;
}
.swiper-pagination-bullet {
  background: #bcbcc3;
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 5px !important;
}
.swiper-pagination-bullet-active {
  background: #222;
}

@media (max-width: 900px) {
  .slide {
    height: auto;
    border-radius: 0;
  }
  .sectionSlider {
    padding: 18px 0 10px 0;
  }
  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.14);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #232323;
    font-size: 25px;
  }
}
