.sectionSlider {
  background: #fff;
  width: 100%;
  // max-width: 100%;
  //   padding: 15px 0 10px 0;
  padding: 0;
  // position: relative;
  // left: 50%;
  // right: 50%;
  // margin-left: -50vw;
  // margin-right: -50vw;

  :global(.swiper-slide) {
    opacity: 0.3;
    // transform: scale(0.9);
    transition: all 0.4s ease;
  }

  :global(.swiper-slide-active) {
    opacity: 1;
    transform: scale(1);
    filter: none;
  }

  :global(.swiper-slide-prev),
  :global(.swiper-slide-next) {
    opacity: 0.6;
    filter: blur(1px);
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    display: none !important;
  }
}

.swiper {
  //   max-width: 1320px;
  width: 100%;
  height: 65vh;
  margin: 0 auto;
  padding-bottom: 30px;
}

// .slide {
//   background: #fff;
//   border-radius: 0;
//   box-shadow: 0 4px 32px rgba(60, 60, 67, 0.1);
//   overflow: hidden;
//   display: flex;
//   align-items: stretch;
//   height: auto;
//   max-height: 880px;
// }
// .swiper-slide {
//   border: 1px solid red;

//   img {
//     object-fit: contain;
//   }
// }

.swiper-pagination {
  position: static;
  margin-top: 32px;
  text-align: center;
}
.swiper-pagination-bullet {
  background: #bcbcc3;
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 5px !important;
}
.swiper-pagination-bullet-active {
  background: #222;
}

.slideImg {
  width: 100%;
  border-radius: 16px;
  transition: all 0.4s ease;
}

@media (max-width: 900px) {
  .slide {
    height: auto;
    border-radius: 0;
  }
  .sectionSlider {
    padding: 18px 0 10px 0;

    .swiper {
      height: 60vh;
    }

    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
      display: flex !important;
      align-items: center;
      justify-content: center;
      background: rgba(94, 94, 94, 0.127);
      border-radius: 50%;
      width: 25px;
      height: 25px;
      color: #8b8b8b;
      font-size: 25px;
    }
  }
}
