.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #161617;
  display: flex;
  align-items: center;
  padding: 0 28px;
  z-index: 1000;
  justify-content: space-between;
}
.headerLogo {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}
.logo,
.searchIcon,
.cartIcon,
.menuIcon {
  color: #ffffffcc;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.logo:hover {
  color: #fff;
}
.iconBtn:hover .searchIcon,
.searchIcon:hover {
  color: #fff;
}

.iconBtn:hover .cartIcon,
.cartIcon:hover {
  color: #fff;
}
.menuBtn:hover .menuIcon {
  color: #fff;
}
.navContent {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navLinks {
  display: flex;
  gap: 25px;
  // flex: 1;
  width: 100%;
  padding: 0 8px;
  justify-content: space-evenly;
}

.navItem {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.2px;
  padding: 0 5px;
  transition: color 0.18s;
}

.navItem:hover {
  color: #ffffff;
}

.rightIcons {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 8px;
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

/* hide menu on desktop */
.menuBtn {
  display: none;
}

/* transform show menu */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #161617;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.show {
  transform: translateY(0);
}

.closeBtn {
  background: none;
  border: none;
  position: absolute;
  top: 22px;
  right: 26px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 2100;
}

.closeBtn img {
  width: 36px;
  height: 36px;
  filter: brightness(0) invert(1);
}

.menuList {
  list-style: none;
  margin: 70px 0 0 32px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menuList li {
  a {
    font-size: 1.6rem;
    color: #fafafc;
    text-decoration: none;
    font-weight: 600;
    // letter-spacing: -1px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 22, 23, 0.6);
  z-index: 1500;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 10px;
    max-width: 100%;
  }
  .navLinks {
    gap: 15px;
  }
}
@media (max-width: 900px) {
  .navLinks {
    display: none;
  }
  .menuBtn {
    display: flex;
    // background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .navContent {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 0 15px 0 20px;
    background: rgba(0, 0, 0, 0.85);
  }
  .logo {
    width: 42px;
    height: 42px;
  }
  .closeBtn {
    width: 30px;
    height: 30px;
  }
  .closeBtn img {
    width: 30px;
    height: 30px;
  }
  .menuList {
    margin: 64px 0 0 16px;
    gap: 12px;
  }
  .menuList li {
    font-size: 1.3rem;
  }
}
