.fullSection {
  background: #fff;
  padding: 0;
  width: 100%;
  // max-height: 692px;
  // height: 692px;
  // position: relative;
  // left: 50%;
  // right: 50%;
  // margin-left: -50vw;
  // margin-right: -50vw;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .fullSection {
    margin-top: 2px;
  }
}
